.container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;

}

body {
    background: rgb(200, 220, 255);
}

p::before{
    content:attr(type);
    display: block;
    font-size: 20px;
    color: blue;
    background: none;
    margin-top: 40px;
}

input{
    border: 1px solid black;
    padding: 10px 15px;
    width: 200px;
}

.formulario{
    background: lightblue;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 2px 2px 10px gray;
    width: 300px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}